<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div><a href="/" class="navbar-brand">Least Squares Algorithms App</a></div>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav">
        <li *ngIf="roles.includes('USER')">
          <a [routerLink]="['/upload-file']" class="nav-link" routerLinkActive="router-link-active">Upload file</a>
        </li>
        <li *ngIf="roles.includes('USER') || roles.includes('ADMIN')">
          <a [routerLink]="['/data-series-file-list']" class="nav-link" routerLinkActive="router-link-active">Data
            series list</a>
        </li>
        <li *ngIf="roles.includes('USER') || roles.includes('ADMIN')">
          <a [routerLink]="['/approximation-properties-list']" class="nav-link" routerLinkActive="router-link-active">Approximation
            properties list</a>
        </li>
        <li *ngIf="roles.includes('ADMIN')">
          <a [routerLink]="['/user-list']" class="nav-link" routerLinkActive="router-link-active">User list</a>
        </li>
        <li *ngIf="roles.includes('ADMIN')">
          <a [routerLink]="['/add-user']" class="nav-link" routerLinkActive="router-link-active">Add user</a>
        </li>
        <li *ngIf="roles.includes('USER') || roles.includes('ADMIN')">
          <a [routerLink]="['/data-series-generator']" class="nav-link" routerLinkActive="router-link-active">Data
            series generator</a>
        </li>
      </ul>

      <div class="col text-right">
        <div *ngIf="!isLogged">
          <button [routerLink]="['/login']" class="btn btn-secondary">Login</button>
        </div>
        <div ngbDropdown class="d-inline-block" *ngIf="isLogged">
          <button class="btn btn-secondary" id="profile" ngbDropdownToggle>
            {{username}}
          </button>
          <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownBasic2">
            <button [routerLink]="['/user-detail', userId]" ngbDropdownItem> My profile</button>
            <button (click)="logout()" ngbDropdownItem>Logout</button>
          </div>
        </div>
      </div>

    </div>
  </nav>
</header>
