<div style="text-align:center">
  <br>
  <h3>Approximation chart:</h3>
  <canvas [hidden]="!approximationProperties" id="scatterChart"></canvas>
  <br>
  <br>
</div>

<div class="col-md-4" *ngIf="!chosenMethods && approximationProperties">
  <h3>Properties of your data series:</h3>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Size</td>
      <td>{{approximationProperties.dataSeriesFileDTO.size}}</td>
    </tr>
    <tr>
      <td>Variance</td>
      <td>{{approximationProperties.dataSeriesFileDTO.variance}}</td>
    </tr>
    <tr>
      <td>Standard deviation</td>
      <td>{{approximationProperties.dataSeriesFileDTO.standardDeviation}}</td>
    </tr>
    <tr>
      <td>Degree</td>
      <td>{{approximationProperties.degree}}</td>
    </tr>
    </tbody>
  </table>
  <br>
  <br>
  <button class="btn btn-success" [disabled]="!roles.includes('USER')" (click)="selectMethods()">
    Choose the algorithms
  </button>
  <br>
  <br>
</div>

<div class="col-md-6" *ngIf="chosenMethods">
  <h3>Chosen algorithms:</h3>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name algorithm</th>
      <th>Degree</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let chosenMethod of chosenMethods">
      <td>{{chosenMethod.leastSquaresMethodName}}</td>
      <td>{{chosenMethod.degree}}</td>
      <td>
        <button class="btn btn-success" [disabled]=chosenMethod.isUsed (click)="doApproximations(chosenMethod)">
          Choose
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <br>
  <br>
</div>

<div class="col-md-12" *ngIf="chosenMethods">
  <div *ngFor="let approximationView of approximationViews; let i = index">
    <h3>{{approximationView.method}} (Absolute error = {{approximationView.absoluteError}})</h3>
    <table class="table table-striped">
      <thead>
      <tr>
        <th style="text-align: center">Polynomial coefficients</th>
        <th style="text-align: center">Domain function</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let mathematicalFunctionDTO of approximationView.mathematicalFunctionDTOs">
        <td>{{coefficientsString(mathematicalFunctionDTO.polynomialDTO.coefficients)}}</td>
        <td style="width: 12.5%; text-align: center">{{domainString(mathematicalFunctionDTO.domainFunction)}}</td>
      </tr>
      </tbody>
    </table>
    <button class="btn btn-info center" (click)="download(approximationView.mathematicalFunctionDTOs)">
      <img src="/assets/icons/download.svg" alt="" width="20em" height="20em"
           title="Download">
      <span>Download</span>
    </button>
    <br>
    <br>
    <br>
  </div>
</div>

<br>
<br>
