<div class="col-md-4">
  <h2 class="text-center">Add user</h2>
  <form name="form" (ngSubmit)="f.form.valid && addUser()" #f="ngForm" novalidate>
    <div class="form-group">
      <label for="firstName">First name:</label>
      <input type="text" placeholder="First name" name="firstName" [(ngModel)]="signUpInfo.firstName"
             [ngClass]="f.submitted && firstName.invalid ? 'form-control is-invalid' : 'form-control'" id="firstName"
             #firstName="ngModel" required minlength="3" maxlength="50">
      <div *ngIf="f.submitted && firstName.invalid" class="text-danger">
        <div *ngIf="firstName.errors.required">First name is required</div>
        <div *ngIf="firstName.errors.minlength">First name must be at least 3 characters</div>
      </div>
    </div>

    <div class="form-group">
      <label for="lastName">Last name:</label>
      <input type="text" placeholder="Last name" name="lastName" [(ngModel)]="signUpInfo.lastName"
             [ngClass]="f.submitted && lastName.invalid ? 'form-control is-invalid' : 'form-control'" id="lastName"
             #lastName="ngModel" required minlength="3" maxlength="50">
      <div *ngIf="f.submitted && lastName.invalid" class="text-danger">
        <div *ngIf="lastName.errors.required">Last name is required</div>
        <div *ngIf="lastName.errors.minlength">Last name must be at least 3 characters</div>
      </div>
    </div>

    <div class="form-group">
      <label for="login">Login:</label>
      <input type="text" placeholder="Login" name="login" id="login" [(ngModel)]="signUpInfo.login"
             [ngClass]="f.submitted && login.invalid ? 'form-control is-invalid' : 'form-control'"
             #login="ngModel" required minlength="8" maxlength="50">
      <div *ngIf="f.submitted && login.invalid" class="text-danger">
        <div *ngIf="login.errors.required">Login is required</div>
        <div *ngIf="login.errors.minlength">Login must be at least 8 characters</div>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" placeholder="Password" name="password" [(ngModel)]="signUpInfo.password"
             [ngClass]="f.submitted && password.invalid ? 'form-control is-invalid' : 'form-control'" id="password"
             #password="ngModel" required minlength="8" maxlength="50">
      <div *ngIf="f.submitted && password.invalid" class="text-danger">
        <div *ngIf="password.errors.required">Password is required</div>
        <div *ngIf="password.errors.minlength">Password must be at least 8 characters</div>
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" placeholder="Email" name="email" [(ngModel)]="signUpInfo.email"
             [ngClass]="f.submitted && email.invalid ? 'form-control is-invalid' : 'form-control'" id="email"
             #email="ngModel" email required maxlength="60">
      <div *ngIf="f.submitted && email.invalid" class="text-danger">
        <div *ngIf="email.errors.required">Email is required</div>
        <div *ngIf="email.errors.email">This is not a valid email address</div>
      </div>
    </div>

    <div class="form-group">
      <label>Roles:</label>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>ID</th>
          <th>Code</th>
          <th>Name</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let roleUserDTO of roleUserDTOList">
          <td>{{roleUserDTO.id}}</td>
          <td>{{roleUserDTO.code}}</td>
          <td>{{roleUserDTO.name}}</td>
          <td>
            <input type="checkbox" name={{roleUserDTO.code}} (click)="selected(roleUserDTO)" value=roleUserDTO>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
    <br>
    <button class="btn btn-success" [disabled]="isDisableButton">Add user</button>
  </form>
  <br>
  <br>
</div>
